.App {
  text-align: center;
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.login {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/suits.avif');
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.login-contents {
  width: 50%;
  height: 50%;
  justify-content: space-around;
}

form,
.login,
.login-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
}

form,
.login-contents,
#login-title {
  border-radius: 7px;
}

form,
#login-title {
  width: 70%;
  padding: 0.5em 0;
}

form {
  height: 30%;
  justify-content: space-evenly;
}

.red-bg {
  background-color: rgba(255, 0, 0, 0.384);
}

.green-bg {
  background-color: rgba(0, 128, 0, 0.384);
}

.table {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 25% auto;
  grid-template-areas:
    'pile . spades hearts diamonds clubs'
    'stack . in-hand in-hand in-hand in-hand'
    'info . one two three four';
  color: antiquewhite;
}

.card-space {
  width: 100px;
  height: 150px;
  background-size: cover;
  color: black;
  position: relative;
  background-color: rgba(240, 248, 255, 0.247);
}

.card-space-pile {
  background-size: cover;
  background-image: url('./assets/cardBackRed.png');
}
/* MANAGE VERTICAL CASCADING CARDS */
.child {
  position: absolute;
  top: 0;
  left: 0;
}
.child-1 {
  top: 25px;
}
.child-2 {
  top: 50px;
}
.child-3 {
  top: 75px;
}
.child-4 {
  top: 100px;
}
.child-5 {
  top: 125px;
}
.child-6 {
  top: 150px;
}
.child-7 {
  top: 175px;
}
.child-8 {
  top: 200px;
}
.child-9 {
  top: 225px;
}
.child-10 {
  top: 250px;
}
.child-11 {
  top: 275px;
}
.child-12 {
  top: 300px;
}
/* MANAGE HORIZONTAL CASCADING CARDS */
.hand-spread {
  justify-self: baseline;
  margin-left: 7%;
}
.horizontal-child-1 {
  left: 15px;
}
.horizontal-child-2 {
  left: 30px;
}
.horizontal-child-3 {
  left: 45px;
}
.horizontal-child-4 {
  left: 60px;
}
.horizontal-child-5 {
  left: 75px;
}
.horizontal-child-6 {
  left: 90px;
}
.horizontal-child-7 {
  left: 105px;
}
.horizontal-child-8 {
  left: 120px;
}
.horizontal-child-9 {
  left: 135px;
}
.horizontal-child-10 {
  left: 150px;
}
.horizontal-child-11 {
  left: 165px;
}
.horizontal-child-12 {
  left: 180px;
}
.horizontal-child-13 {
  left: 195px;
}

h2 {
  font-size: 1.1em;
  font-weight: 900;
}
h2,
form {
  background-color: rgba(250, 235, 215, 0.644);
}

img,
.card-space {
  border-radius: 5px;
  height: 150px;
  width: 105px;
}

#score {
  font-family: 'Courier New', Courier, monospace;
  padding-right: 2em;
}

.green {
  background-color: green;
}

.brown {
  background-color: rgb(95, 65, 65);
}

.center,
.center-top {
  display: grid;
  justify-items: center;
}

.center {
  align-items: center;
}

.center-top {
  padding-top: 20px;
}

.shuffle,
.login-button {
  height: 24px;
  background-color: green;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.shuffle {
  width: 90%;
}

.pile,
.info,
.stack,
.home,
.dump,
.in-hand {
  border: 2px solid rgb(117, 78, 143);
}

.spades {
  grid-area: spades;
}
.clubs {
  grid-area: clubs;
}
.hearts {
  grid-area: hearts;
}
.diamonds {
  grid-area: diamonds;
}
.info {
  font-family: 'Courier New', Courier, monospace;
  grid-area: info;
  font-size: 0.9em;
}
#rules {
  text-align: left;
  padding: 1em;
  font-size: 0.8em;
  font-weight: 900;
}
.in-hand {
  grid-area: in-hand;
  display: flex;
  justify-content: space-between;
}
.stack {
  grid-area: stack;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.pile {
  grid-area: pile;
}
